In [ ]:
#There is no house in the SQL database that matches the clientâ€™s request as the query return 0 results.

In [2]:
import mysql.connector


# establish a connection to your MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Nicole0401",
  database="house_price_regression"
)

# create a cursor object
mycursor = mydb.cursor()

# execute the SQL query
mycursor.execute("SELECT * FROM house_price_data WHERE bedrooms IN (3,4) AND CEILING(bathrooms) > 3 AND floors = 1 AND waterfront = 0 AND `condition` >= 3 AND grade >= 5 AND price < 300000")

# fetch the results
myresult = mycursor.fetchall()

# print the results
for row in myresult:
  print(row)

In [ ]:
#However, when the bedroom cap is removed, the query return 3 matching houses.

In [3]:
mycursor.execute("SELECT * FROM house_price_data WHERE CEILING(bathrooms) > 3 AND floors = 1 AND waterfront = 0 AND `condition` >= 3 AND grade >= 5 AND price < 300000")

myresult = mycursor.fetchall()

for row in myresult:
  print(row)

(7316400070, 5, 3.75, 2800, 9900, 1, 0, 0, 3, 7, 2800, 0, 1964, 0, 98023, 47.319, -122.344, 1700, 13200, 255000)
(5379801972, 5, 4.0, 1400, 8580, 1, 0, 0, 5, 7, 900, 500, 1954, 0, 98188, 47.456, -122.292, 1220, 8832, 265000)
(822059038, 6, 4.5, 2810, 11214, 1, 0, 0, 3, 8, 2010, 800, 1958, 0, 98031, 47.4045, -122.197, 1940, 8349, 290000)